%table.abilities.table.table-bordered{ html_options }
  - for feature in features
    %tr{ id: feature.slug + '_ability'}
      %th= feature.title
      %td
        - case feature.setting_type
          - when 'boolean'
            - if can? :use, feature.slug.to_sym
              = icon 'ok'
              = :allowed.l
            - else
              = icon 'remove'
              = :not_allowed.l
          - when 'table_rows'
            - if can? :own, feature.feature_model
              = icon 'ok'
            - else
              = icon 'remove'
            - if current_user.table_setting(feature.slug).rows_unlimited?
              = :unlimited.l
            - else
              - remaining = current_user.table_setting(feature.slug).rows_remaining
              - allowed = current_user.table_setting(feature.slug).rows_allowed
              - used = current_user.table_setting(feature.slug).rows
              - if remaining < 0
                = :x_used_y_allowed.l x: used, y: allowed
              - elsif allowed == 0
                = :not_allowed.l
              - else
                = :x_of_y_remaining.l x: remaining, y: allowed
          - when 'rolify_rows'
            - if can? :own, feature.feature_model
              = icon 'ok'
            - else
              = icon 'remove'
            - if current_user.rolify_setting(feature.slug).rows_unlimited?
              = :unlimited.l
            - else
              - remaining = current_user.rolify_setting(feature.slug).rows_remaining
              - allowed = current_user.rolify_setting(feature.slug).rows_allowed
              - used = current_user.rolify_setting(feature.slug).rows
              - if remaining < 0
                = :x_used_y_allowed.l x: used, y: allowed
              - elsif allowed == 0
                = :not_allowed.l
              - else
                = :x_of_y_remaining.l x: remaining, y: allowed
          - else
            = :error.l
