- add_title :resend_confirmation_instructions.l
= form_for(resource, as: resource_name, url: confirmation_path(resource_name), class: 'form-horizontal', html: { method: :post }) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-2
      = f.email_field :email, autofocus: true, class: 'col-sm-offset-2 form-control'
  .form-group
    .col-sm-2
      .col-sm-offset-2
        = f.submit :resend_confirmation_instructions.l
- add_widget do
  = render 'devise/shared/links'
