= nav_list class: 'nav-stacked nav-pills' do
  - if controller_name != 'sessions'
    = nav_item :sign_in.l, new_session_path(resource_name)
  - if devise_mapping.registerable? && controller_name != 'registrations'
    = nav_item :sign_up.l, new_registration_path(resource_name)
  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = nav_item :forgot_your_password.l, new_password_path(resource_name)
  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    = nav_item :didnt_receive_confirmation_instructions.l, new_confirmation_path(resource_name)
  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    = nav_item :didnt_receive_unlock_instructions.l, new_unlock_path(resource_name)
  - if devise_mapping.omniauthable?
    - resource_class.omniauth_providers.each do |provider|
      = nav_item :sign_in_with_provider.l(provider: provider), omniauth_authorize_path(resource_name, provider)
