- add_title :change_your_password.l
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .form-group
    = f.label :password, "New password", class: 'col-sm-2 control-label'
    .col-sm-2
      = f.password_field :password, autofocus: true, autocomplete: "off", class: 'col-sm-offset-2 form-control'
  .form-group
    = f.label :password_confirmation, "Confirm new password", class: 'col-sm-2 control-label'
    .col-sm-2
      = f.password_field :password_confirmation, autocomplete: "off", class: 'col-sm-offset-2 form-control'
  .form-group
    .col-sm-2
    .col-sm-2
      .col-sm-offset-2
        = f.submit :change_your_password.l, class: 'btn btn-primary'
- add_widget do
  = render "devise/shared/links"
