%head
  = render_title          # For the title tag, including SEO content
  = render_keywords       # Defaults to what you put in the config file
  = render_description    # Can be hooked up within a mountable rails engine, too.
  = responsive_meta_tag   # If you're using the responsive features, you need this in your head

  = stylesheet_link_tag 'application'
  = theme_stylesheet_link_tag

  = render_head_css

%body
  .container
    = alert_flash_messages
    = render_h1         # For the h1 tag containing the title alone
    = yield

  %footer
  = render_footer_javascript
  = javascript_include_tag 'application'