%head
  = render_title          # For the title tag, including SEO content
  = render_keywords       # Defaults to what you put in the config file
  = render_description    # Can be hooked up within a mountable rails engine, too.
  = responsive_meta_tag   # If you're using the responsive features, you need this in your head

  = stylesheet_link_tag 'application'

  = render_head_css
  = javascript_include_tag 'application'
  = csrf_meta_tags

%body
  .container
    = render_h1         # For the h1 tag containing the title alone
    = alert_flash_messages
    = yield

  %footer
    - add_widget do
      .clearfix
        = nav_list :class => 'nav-pills nav-stacked' do
          = nav_item :plans.l, paid_up.plans_path
          - if signed_in?
            = nav_item :my_subscription.l, paid_up.subscriptions_path
            = nav_item :sign_out.l, main_app.destroy_user_session_path, method: :delete
          - else
            = nav_item :sign_in.l, main_app.new_user_session_path
            = nav_item :sign_up.l, main_app.new_user_registration_path
    = render_widgets 'md', 3
  = render_footer_javascript