- add_title 'Subscription Plan Pricing'

.plans.row
  - for plan in @plans
    .plan.col-md-3
      .well
        %h2
          = plan.title
          .small= plan_charge_human plan, user_signed_in? ? current_user.stripe_data.discount : nil
        %p= plan.description.html_safe
        %div{class:plan.title.gsub(' ',"_").downcase+'_subscribe_button'}
          = plan_button plan
%h2= :features.l
.table-responsive
  - if user_signed_in?
    = features_table highlight: current_user.plan
  - else
    = features_table