- add_title 'Subscription Plan Pricing'

.plans.row
  - for plan in @plans
    .plan.col-md-2
      %h2
        = plan.name
        .small= plan_charge_human plan
      %p= plan.description.html_safe
      - if @current_subscriber.is_subscribed_to?(plan)
        .btn.btn-info.disabled
          = link_to (icon('check') + :subscribe.l).html_safe, '#'
      - elsif @current_subscriber.can_upgrade_to?(plan)
        .btn.btn-success
          = link_to (icon('upload') + :subscribe.l).html_safe, paid_up.subscribe_plan_path
      - elsif @current_subscriber.can_downgrade_to?(plan)
        .btn.btn-danger
          = link_to (icon('download') + :subscribe.l).html_safe, paid_up.subscribe_plan_path
      - else
        .badge.badge-warning
          = :error.l