- add_title 'Subscription Plan Pricing'

.plans.row
  - for plan in @plans
    .plan.col-md-3
      .well
        %h2
          = plan.name
          .small= plan_charge_human plan
        %p= plan.description.html_safe
        %div{class:plan.name.gsub(' ',"_").downcase+'_subscribe_button'}
          = plan_button plan
%h2= :features.l
= features_table highlight: @current_subscriber.plan