- add_title :my_subscription_information.l

%h2
  = current_user.plan.title
  .small= plan_charge_human current_user.plan

= subscription_dl current_user.subscription

- if current_user.subscription.cancel_at_period_end
  %h3= :canceled.l

%h3= :abilities.l
= feature_abilities_table

%p
  = icon_button_to 'info btn-lg', 'arrow-right', :switch_plans.l, paid_up.plans_path, method: :get